# Fichiers temporaires Visual Studio
.vs/
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
*.log

# Fichiers de build
*.exe
*.dll
*.pdb

# Packages NuGet
packages/

# Autres
*.nupkg
*.nuspec
*.psess
*.vsp
